body{
    margin:auto;
    width:1000px;
    height:auto;
    background-color:#b9aeae;
}

h1{
    text-align:center;
    font-family:'Trebuchet MS';
    font-weight:bolder;
    color:#ff6a00;
}

a{
    text-decoration:none;
    color:#ff0000;
}

a:hover{
    color:#fff;
}

#menu{
    width:200px;
    height:auto;
    background-color:#71c7ff;
    float:left;
     text-align:left;
   
}



#menu ul li{
   
   
    list-style:none;
    height:45px;
    font-size:25px;
   
    

}

#menu ul li:hover{
   
   
    
     color:#fff;
    

}


#content_alani{
    float:left;
    width:800px;
    height:auto;
    background-color:#808080
}